.mytxt {
    background-color: #ffffff; 
    border: 1px solid #dddddd; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    transition: 0.3s;
    width: 30%; 
    border-radius: 5px; 
    padding: 20px; 
    margin: 20px; 
  }
  
  .myDiv:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); 
  }
  
  .container {
    display: flex; 
    justify-content: center; 
  }
  .mydiv{
    padding: 20px; 
    margin: 20px; 
  }